@font-face {
  font-family: "Anuphan";
  src: url(Anuphan-Regular.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Anuphan";
  font-weight: 600;
  src: url(Anuphan-SemiBold.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Anuphan";
  font-weight: 700;
  src: url(Anuphan-Bold.otf) format("opentype");
  font-display: swap;
}
/* @font-face {
  font-family: "Sao Chingcha";
  font-weight: 600;
  src: url(SaoChingcha-Regular.ttf) format("truetype");
  font-display: swap;
} */

@font-face {
  font-family: "Sao Chingcha";
  font-weight: 600;
  src: url(SaoChingcha-Bold.otf) format("opentype");
  font-display: swap;
}
